@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  overflow: auto; }

.detail-box {
  width: 100%;
  height: 100%;
  outline: 0;
  border: 1px solid #ddd;
  margin-top: 7px;
  border-radius: 3px; }
  .detail-box ul {
    margin: 0px;
    padding: 10px; }
    .detail-box ul li {
      margin-bottom: 18px !important; }

#data-list {
  padding: 0px;
  width: 100%; }
  #data-list li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 10px; }

#app {
  margin: 0;
  padding: 10px;
  width: 95%;
  margin: 0 auto; }

#demo-box {
  width: 100%;
  display: block; }

h4 {
  font-family: Bahnschrift;
  font-size: 15px;
  margin-bottom: 6px; }

input[name="cat"] {
  border-radius: 2px;
  background-color: rgba(221, 221, 221, 0.2);
  width: 75%;
  outline: 0;
  border: 0;
  height: 40px;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 3px;
  font-family: Bahnschrift;
  text-decoration: none;
  text-transform: none; }

input[name="price"] {
  width: 40%;
  border-radius: 2px;
  background-color: rgba(221, 221, 221, 0.2);
  outline: 0;
  border: 0;
  height: 39px;
  padding-left: 15px;
  margin-left: -6px;
  padding-bottom: 3px;
  margin-top: 3px !important;
  text-decoration: none;
  text-transform: none; }

textarea {
  border-radius: 2px;
  background-color: rgba(221, 221, 221, 0.2);
  width: 85%;
  outline: 0;
  border: 0;
  height: 70px;
  padding-left: 15px;
  padding-top: 3px;
  font-family: Bahnschrift;
  text-decoration: none;
  text-transform: none; }

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
  outline: 0; }

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #00BFFF;
  border: 1px solid #00BFFF; }

::placeholder {
  font-family: Bahnschrift; }

#single-div {
  display: none; }

#add-btn {
  float: right;
  border: 1px solid #00BFFF;
  background-color: transparent;
  outline: 0;
  margin-top: 6px;
  border-radius: 3px;
  font-family: Bahnschrift;
  font-weight: 600;
  color: #00BFFF;
  display: none; }

#price-single {
  margin-top: -3px !important; }

.Red::-webkit-input-placeholder {
  color: red;
  /* WebKit, Blink, Edge */ }

.modal {
  overflow-y: auto !important; }

/* Important part */
.modal-dialog {
  overflow-y: initial !important; }

.modal-body {
  overflow-y: auto !important;
  max-height: 450px; }

@media (max-width: 500px) {
  #f-div {
    margin-left: -10px; }

  #offline {
    display: inline-block !important;
    float: left !important; }

  #price-single {
    position: absolute;
    top: 17.4%;
    margin-left: 0px; }

  input[name="cat"] {
    width: 98%;
    padding-top: 4px; }

  input[name="price"] {
    width: 60%;
    margin-top: -3px !important;
    position: absolute;
    bottom: 10.5%;
    margin-left: 0px; }

  .detail-box {
    position: relative; } }

/*# sourceMappingURL=style.css.map */
